*{
    font-family: 'Brush Script MT', cursive;
}

/*navigation*/

nav{
    /* background-color: #5a9dfb; */
    /* height: 60px; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid gray;
    margin: 0;
}




nav > a {

    text-decoration: none;
    color: gray;
    font-size: x-large;
}

#logo{
    display: inline;
    font-size: x-large;
    margin: 0px;
    
}

/* #logo{
    padding: 0px;
    font-size: xx-large;
    font-weight: 700;
    color: gray;
} */

nav > a:hover{
    font-size: 1.6em
}

.view-all {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 10px;
    margin: 10px;
    /* max-width: 10px; */
}

.view-all > div {
    
    padding: 10px;
    margin: 10px;
    text-align: right;
    /* border: 0.1px solid gray; */
    border-radius: 15px;

}

a{
    text-decoration: none;
}


.view-display >a> img {
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.view-all >   div:hover{
    box-shadow: 4px 4px 4px 4px #ddd;

}

a{
    text-decoration: none;
}

.details {
    padding: 10px;
    margin-top: 10px;
    padding: 0;
}

.details > .name {
    color: black;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
    color: black;

}

.details > .location {
    color: gray;
    color: rgb(32, 32, 0);
    font-size: large;
    margin: 0;
    padding: 0;
}

.price{
    margin: 0px;
    color: black;
}

.available{
    margin: 0px;
    font-size: large;
    color: gray;
}

.details > .rating {
    float: left;
    color: gray;
}


.details > .price > .amount {
    font-size: x-large; 
    font-weight: 700;
    color: gray;  
    margin: 0;
    padding: 0;
}


.rating-icon{
    font-size: 1.5em;
    /* outline-color: red;*/
    color: rgb(241, 130, 130); 
    margin: 0px;
    padding: 0px;
    
}
